
html, body {
    background-image: url(../images/dark_embroidery.png);
   
}
#container {
    width: 100%;
    min-height: 700px;
    color: white;
    overflow: hidden;
}

.main {
    width: 80%;
    position: relative;
    padding: 10px;
}

.words {
    margin: 0;
    text-align: left;
}

.words span {
    color: red;
    white-space: nowrap;
    font-size: 200%;
    font-weight: normal;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    color: red;
}

.words span {
    text-transform:  ;
}

